force-resolutions=true{
                        "@sindresorhus/merge-streams": "1.0.1",
                        "change-file-extension": "0.1.0",
                        "environment": "1.0.0",
                        "file-type": "18.0.0",
                        "function-timeout": "1.0.1",
                        "globby": "13.1.3",
                        "gulp-imagemin": "8.0.0",
                        "gulp-plugin-extras": "0.1.0",
                        "identifier-regex": "0.1.0",
                        "imagemin": "8.0.1",
                        "is-identifier": "0.1.0",
                        "ow": "1.1.0",
                        "reserved-identifiers": "0.1.0",
                        "super-regex": "0.1.0",
                        "uint8array-extras": "1.0.0",
                        "unicorn-magic": "0.0.1"
                      }