.features-container {
  text-align: center;
  padding: 20px;
}

.feature-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.feature-item {
  width: 300px;
  margin: 20px;
}

.feature-item h4 {
  color:   'appTheme';
  font-weight: bold;
  margin-bottom: 10px;
}

.feature-item p {
  color: 'appTheme';
}

@media (max-width: 768px) {
  .feature-item {
    width: 100%;
  }
}